# Ignore VSCode files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore eval folder
eval/*
eval/

# Ignore runs folder
runs/*
runs/

# Ignore MyEnv folder
MyEnv/*
MyEnv/
data/test/labels.cache

# Ignore python cache
__pycache__/
*.pyc
